#loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10005;
	overflow: hidden;
}

#loader:after {
	content: "";
	position: absolute;
	bottom: 37.5%;
	left: 50%;
	width: 140px;
	height: 24px;
	background: url("../wsbdev_bin/gc_loading.png") no-repeat;
	margin-left: -70px;
}

.loader,
.loader:before,
.loader:after {
	background: #ffffff;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: '';
}
.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader {
	text-indent: -9999em;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0 #ffffff;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em #ffffff;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0 #ffffff;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em #ffffff;
		height: 5em;
	}
}
