#loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10005;
	overflow: hidden;
}

#loader:after {
	content: "";
	position: absolute;
	bottom: 37.5%;
	left: 50%;
	width: 140px;
	height: 25px;
	background: url("../wsbdev_bin/gc_loading.png") no-repeat;
	margin-left: -70px;
}

.loader:before,
.loader:after,
.loader {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}
.loader {
	font-size: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 3.5em;
}
.loader:before,
.loader:after {
	content: '';
	position: absolute;
	top: 0;
}

@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em #ffffff;
	}
	40% {
		box-shadow: 0 2.5em 0 0 #ffffff;
	}
}
@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em #ffffff;
	}
	40% {
		box-shadow: 0 2.5em 0 0 #ffffff;
	}
}
