/* products / addons module #1 */


#productTypes .roomContainer, #addons .roomContainer {
	padding: 30px 3% 30px 43%;
	background: #fff;
	text-align: left;
	position: relative;
	min-height: 400px;
	height: auto !important;
	overflow: hidden;
}

#productTypes .roomContainer::before, #addons .roomContainer::before {
	display: none;
}

#productTypes .roomContainer > div, #addons .roomContainer > div {
	float: left;
}

#productTypes .roomContainer .roomName, #addons .roomContainer .roomName {
	width: 100%;
}

#productTypes .roomContainer .roomName h2, #addons .roomContainer .roomName h2 {
	margin: 0;
}

#productTypes .roomContainer .minRate, #addons .roomContainer .minRate {
	padding: 0;
	width: 100%;
	margin: 5px 0 10px;
}

#productTypes .roomContainer > .roomPhoto, #addons .roomContainer > .roomPhoto {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 40%;
	padding-left: 0;
}

#addons .roomContainer .roomPhoto .roomPhoto {
	height: 100%;
}

#productTypes .roomContainer .roomPhoto .pgContainer, #productTypes .roomContainer .roomPhoto .pgContainer .pgImage,
#addons .roomContainer .roomPhoto .pgContainer, #addons .roomContainer .roomPhoto .pgContainer .pgImage {
	height: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

#productTypes .roomContainer .roomPhoto .pgContainer .pgImage img, #addons .roomContainer .roomPhoto .pgContainer .pgImage img {
	display: none;
}

#productTypes .roomContainer .roomPhoto .pgContainer a label, #addons .roomContainer .roomPhoto .pgContainer a label {
	position: absolute;
	bottom: 8px;
	left: 0;
	right: 0;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 8px;
	text-shadow: 0 0 6px rgba(0,0,0,0.7);
	text-align: center;
}


#productTypes .roomContainer .promotions-termsActions, #addons .roomContainer .promotions-termsActions {
	position: relative;
	clear: both;
}

#productTypes .roomContainer .promotions-termsActions .promotions-bgLink, #addons .roomContainer .promotions-termsActions .promotions-bgLink {
	float: left;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 36px;
	width: 200px;
	text-align: center;
	margin-bottom: 20px;
}

#productTypes .roomContainer .promotions-termsActions .promotions-bgLink:hover, #addons .roomContainer .promotions-termsActions .promotions-bgLink:hover {
	text-decoration: underline;
}

#productTypes .roomContainer .promotions-termsActions .promotions-showTermsTrigger, #addons .roomContainer .promotions-termsActions .promotions-showTermsTrigger {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    text-align: center;
    font-size: 8px;
    text-transform: uppercase;
    line-height: 20px;
    background: #ededed;
}

#productTypes .roomContainer .promotions-termsContent, #addons .roomContainer .promotions-termsContent {
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 5px;
	background: #f0f0f0;
	margin: 0;
	padding: 20px 10%;
	text-align: center;
	display: none;
	z-index: 1;
	width: auto;
	height: auto;
}

#productTypes .roomContainer .promotions-termsContent .promotions-closeTermsShell, #addons .roomContainer .promotions-termsContent .promotions-closeTermsShell {
	margin-bottom: 20px;
}


.content #productTypes .roomContainer .promotions-termsContent .promotions-closeTermsShell .promotions-closeTerms,
.content #addons .roomContainer .promotions-termsContent .promotions-closeTermsShell .promotions-closeTerms {
	font-size: 8px;
	text-transform: uppercase;
	display: inline-block;
	width: 200px;
	color: #fff !important;
}

#productTypes .roomContainer .promotions-termsContent p, #addons .roomContainer .promotions-termsContent p {
    font-size: 12px;
    line-height: 18px;
}


/* odd / even stuff */

#productTypes .roomContainer:nth-of-type(even),
#addons .roomContainer:nth-of-type(3),
#addons .roomContainer:nth-of-type(7),
#addons .roomContainer:nth-of-type(11),
#addons .roomContainer:nth-of-type(15),
#addons .roomContainer:nth-of-type(19) {
	padding: 30px 43% 30px 3%;
	text-align: right;
}

#productTypes .roomContainer:nth-of-type(even) > .roomPhoto,
#addons .roomContainer:nth-of-type(3) > .roomPhoto,
#addons .roomContainer:nth-of-type(7) > .roomPhoto,
#addons .roomContainer:nth-of-type(11) > .roomPhoto,
#addons .roomContainer:nth-of-type(15) > .roomPhoto,
#addons .roomContainer:nth-of-type(19) > .roomPhoto {
	right: 0;
	left: auto;
}

#productTypes .roomContainer:nth-of-type(even) .promotions-termsActions .promotions-bgLink,
#addons .roomContainer:nth-of-type(3) .promotions-termsActions .promotions-bgLink,
#addons .roomContainer:nth-of-type(7) .promotions-termsActions .promotions-bgLink,
#addons .roomContainer:nth-of-type(11) .promotions-termsActions .promotions-bgLink,
#addons .roomContainer:nth-of-type(15) .promotions-termsActions .promotions-bgLink,
#addons .roomContainer:nth-of-type(19) .promotions-termsActions .promotions-bgLink {
	float: right;
}

#productTypes .roomContainer:nth-of-type(even) .promotions-termsActions .promotions-showTermsTrigger,
#addons .roomContainer:nth-of-type(3) .promotions-termsActions .promotions-showTermsTrigger,
#addons .roomContainer:nth-of-type(7) .promotions-termsActions .promotions-showTermsTrigger,
#addons .roomContainer:nth-of-type(11) .promotions-termsActions .promotions-showTermsTrigger,
#addons .roomContainer:nth-of-type(15) .promotions-termsActions .promotions-showTermsTrigger,
#addons .roomContainer:nth-of-type(19) .promotions-termsActions .promotions-showTermsTrigger {
	left: auto;
	right: 0;
}


/* responsive stuff */

@media all and (max-width: 768px) {
	#productTypes .roomContainer, #addons .roomContainer {
		padding: 360px 6% 30px !important;
		text-align: left !important;
	}

	#productTypes .roomContainer > .roomPhoto, #addons .roomContainer > .roomPhoto {
		width: 100%;
		bottom: auto;
		height: 340px;
	}

	#productTypes .roomContainer:nth-of-type(even) .promotions-termsActions .promotions-showTermsTrigger,
	#addons .roomContainer .promotions-termsActions .promotions-showTermsTrigger {
		left: 0;
		right: auto;
	}

	#productTypes .roomContainer:nth-of-type(even) .promotions-termsActions .promotions-bgLink,
	#addons .roomContainer .promotions-termsActions .promotions-bgLink {
		float: left;
	}
}

@media all and (max-width: 640px) {

	#productTypes .roomContainer, #addons .roomContainer {
		padding: 300px 6% 30px !important;
	}

	#productTypes .roomContainer > .roomPhoto, #addons .roomContainer > .roomPhoto {
		height: 280px;
	}

}








