/* rooms module #3 */

.roomContainer {
    position: relative;
    clear: both;
}

.roomName {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 60%;
    z-index: 10;
}

.roomPhoto {
    padding-top: 56.25%;
    position: relative;
    margin-bottom: 140px;
    float: none !important;
}

.roomPhoto .pgContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.roomPhoto .pgContainer .pgImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.roomPhoto .pgContainer .pgImage a {
    visibility: visible;
    display: block;
    height: 100%;
}

.roomPhoto > a {
    display: block;
    width: 20%;
    height: 100px;
    float: left;
    background-size: cover;
}

.roomPhoto a:nth-child(n+7) {
    display: none;
} 

@media all and (max-width: 992px) {
    .roomName {
        width: 80%;
        top: 5%;
    }

    .roomName h2 {
        font-size: 3em;
    }
}

@media all and (max-width: 768px) {
    .roomPhoto a:nth-child(n+2) {
        display: none;
    } 
}

@media (max-width: 580px) {
    .roomPhoto {
        margin-bottom: 0;
    }

    .roomName {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
    }
}


