/*
 * room container 
 */

.roomContainer {
	float: left;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.roomContainer > * {
	margin-left: 56.25%;
}

.roomContainer h2 {
	font-size: 2em;
	line-height: 1em;
}

.roomContainer h3 {
	font-size: 1em;
	line-height: 1em;
}

.minRate {
	margin-bottom: 10px;
}

.roomName {
	margin-top: 40px;
}

.roomPhoto {
	width: 52.5%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

.roomPhoto .pgContainer {
	height: 100%;
}

.roomPhoto .pgContainer a label {
	position: absolute;
	top: 25px;
	left: 25px;
	z-index: 80;
	color: #ffffff;
}

.roomPhoto .pgImage {
	height: 100%;
	background-size: cover;
}

.roomPhoto .pgImage > a > img {
	display: none;
}


.roomDescription {
	clear: both;
}

/*
 * room thumbs 
 */

#roomThumbs {
	overflow: hidden;
}

#roomThumbs .roomThumb.notClicked {
	width: 50%;
	height: 400px;
}

#roomThumbs .roomThumb {
	width: 25%;
	height: 220px;
	padding: 0 5% !important;
	display: table;
	cursor: pointer;
	position: relative;
	float: left;
}

#roomThumbs .roomThumb > *,
#roomThumbs .roomPhoto .pgContainer a label {
	margin: 0 !important;
	display: none;
}
#roomThumbs .roomThumb .roomName,
#roomThumbs .roomThumb .roomPhoto {
	display: block;
	width: 100%;
	transition: opacity 0.5s;
}

body:not(.isTouchDevice) #roomThumbs .roomThumb:hover .roomPhoto,
#roomThumbs .roomThumb:not(.notClicked).active .roomName,
#roomThumbs .roomThumb:not(.notClicked).active .roomPhoto {
	opacity: 0.3;
}

#roomThumbs .roomThumb:not(.notClicked).active {
	pointer-events: none;
}

#roomThumbs .roomThumb:not(.notClicked).active:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	border: 5px solid transparent;
}

#roomThumbs .roomThumb .roomName {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 10;
}
#roomThumbs .roomThumb .roomName h2 {
	font-size: 1.4em;
    line-height: 1em;
    color: #ffffff;
}
#roomThumbs .roomThumb.notClicked .roomName h2 {
	font-size: 3.2em;
}

#roomThumbs .roomThumb .minRate h3 {
	font-size: 1em;
    line-height: 1em;
    color: #ffffff;
}
#roomThumbs .roomThumb.notClicked .minRate h3 {
	font-size: 1.5em;
}

#roomThumbs .roomThumb .roomPhoto {
	z-index: 0;
}


/*
 * room slide 
 */

.bx-wrapper {
	position: relative;
}
.bx-controls.roomSlideNav {
	position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 100%;
    margin-top: -37.5px;
}
body:not(.isTouchDevice) .bx-controls.roomSlideNav a:hover {
	box-shadow: 10px 10px 50px rgba(0,0,0,0.3);
}
body:not(.isTouchDevice) .bx-controls.roomSlideNav a.bx-next:hover {
	box-shadow: -10px -10px 50px rgba(0,0,0,0.3);
}

.roomSlideNav a {
	display: block;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	position: relative;
	overflow: hidden;
	float: left;
	background: #000000;
}

.roomSlideNav a:before, .roomSlideNav a:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 12px;
	width: 20px;
	height: 3px;
	background: #ffffff;
	text-indent: 0;
	transform-origin: left center;
}

.roomSlideNav a.bx-prev:before,
.roomSlideNav a.bx-next:after {
	transform: rotate(-45deg);
}
.roomSlideNav a.bx-prev:after,
.roomSlideNav a.bx-next:before {
	transform: rotate(45deg);
}

.roomSlideNav a.bx-next {
	float: right;
}
.roomSlideNav a.bx-next:before, .roomSlideNav a.bx-next:after {
	transform-origin: right center;
	left: auto;
	right: 12px;
}

.roomSlideNav a.bx-prev:after,
.roomSlideNav a.bx-next:after {
	margin-top: -3px;
}
.roomSlideNav a.bx-prev:before,
.roomSlideNav a.bx-next:before {
	margin-top: -1px;
}







/*
 * responsive stuff
 */

@media all and (max-width: 768px) {
	.roomContainer > * {
		margin-left: 10% !important;
		margin-right: 10% !important;
	}
	.roomName {
		margin-top: 400px !important;
	}
	.roomPhoto {
		width: 100% !important;
		height: 400px !important;
		margin: 0 !important;
	}
	.promotions-bgLink {
		display: block;
		position: relative !important;
		bottom: auto !important;
		left: auto !important;
		margin: 0 !important;
		width: 100% !important;
	}
}

@media all and (max-width: 580px) {
	#roomThumbs .roomThumb.notClicked {
		height: 250px !important;
	}
	.bx-wrapper .bx-viewport div .roomContainer {
		height: auto !important;
	}
	.bx-controls.roomSlideNav {
		top: 300px;
	}
	.roomName {
		margin-top: 275px !important;
	}
	.roomName h2 {
		font-size: 1.3em !important;
		line-height: 1em !important;
	}
	.roomContainer h3 {
		font-size: 1em !important;
		line-height: 1em !important;
	}
	.roomPhoto {
		height: 250px !important;
	}
}
