/*
 
 Websites More Navigation items
 ****************************
 Author: pedro.d
 Date: 01/02/2017
 Latest update: 01/02/2017 by pedro.d
 Comment: create file

 */

.navMoreTrigger {
	position: relative;
}

.navMoreTrigger:after {
	content: "";
	display: inline-block;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	position: relative;
	top: -2px;
}

.navMoreTrigger.opened ul.navMore {
	display: block !important;
}

.navigation ul li.navMoreTrigger ul.navMore {
	position: absolute;
	top: 100%;
	right: 0;
	padding: 10px;
	background: #ffffff;
	min-width: 300px;
	overflow-y: scroll;
	display: none;
}

.navigation ul ul.navMore li,
.navigation ul ul.navMore li a {
	display: block;
	line-height: initial;
	padding: 0;
	margin: 0 0 5px;
}