/**
  * Contacts page area
  **/
#contentblock .content form {
	text-align: left;
	width: 75%;
	margin: 0 auto;
}

#contentblock .content form input,
#contentblock .content form select,
#contentblock .content form textarea {
	width: 98%;
	border: none;
	background: #e1e0de;
	background: rgba(0,0,0,0.1);
	padding: 5px 10px;
	height: 35px;
}

#contentblock .content form p, #contentblock .content form div {
	font-size: 0.85em;
	line-height: 1em;
	margin: 15px 0 5px;
}

#contentblock .content form #reservationFields {
	margin-bottom: 20px;
	float: left;
	width: 100%;
}

#contentblock .content form #reservationFields > div {
	width: 48%;
	margin-right: 2%;
	position: relative;
}

#contentblock .content form #reservationFields input, #contentblock .content form #reservationFields select {
	width: 100%;
}

#contentblock .content form #cbcheckin {
	position: absolute;
	bottom: 12px;
	right: 3%;
	height: 20px;
	width: 20px;
	background: url("//static.guestcentric.net/cdn/wsbdev/wsbdev_bin/calendar.png") no-repeat center;
}

#contentblock .content form #ckbnotifyme {
	width: auto;
	height: 14px;
	margin-right: 10px;
}

#contentblock .content form p label {
	font-size: 0.85em;
	line-height: 1em;
}

#contentblock .content form input[type="submit"] {
	padding: 0 65px 0 25px;
	background: #455560;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: lighter;
	font-size: 12px;
	line-height: 40px;
	height: 40px;
	margin: 40px 0 40px;
	font-weight: normal !important;
}

#contentblock .content form input[type="submit"]:hover {
	background: #878c8f;
}