/**
 * @area RoomTypes opened
 */
.roomContainer.room-opened {
	width: calc(100% - 20px);
	height: auto;
	background: rgba(0,0,0,0.05);
	margin: 0 10px 20px;
	padding: 0;
}

.room-opened {
	/*position: absolute !important;
	top: 0;
	left: 0;*/
}

.roomContainer.clicked {
	opacity: 0.6;
	pointer-events: none;
}

.roomContainer.room-opened .roomName {
	position: relative;
	padding: 0;
	z-index: 9;
	text-align: center;
	margin: 0;
	background: none;
	cursor: none;
}

.roomContainer.room-opened .roomName h2 {
	margin: 30px 0 5px;
	font-size: 26px;
	line-height: 30px;
	color: #002D56;
	position: relative;
	display: inline-block;
}

.roomContainer.room-opened .minRate {
	color: #002D56;
	margin-bottom: 20px !important;
}

.roomContainer.room-opened .roomPhoto {
	top: auto !important;
	width: 100%;
	height: 580px;
	background: rgba(0,0,0,0.1);
	left: auto;
	right: auto;
	position: relative;
	overflow: hidden;
}

.roomContainer.room-opened .roomPhoto::before {
	display: none;
}

.roomContainer.room-opened .roomDescription, .roomContainer.room-opened .mealplan,
.roomContainer.room-opened .roomRestrictions {
	display: block;
	height: auto !important;
}

.roomContainer.room-opened .roomPhoto .slidesjs-navigation {
	display: block;
}

/**
 * @area RoomTypes
 */

 #roomtypes, #specialoffers, #productTypes, #addons {
	margin: 0;
	overflow: hidden;
	position: relative;

 }

.roomContainer {
	position: relative;
	text-align: center;
	padding: 0 10px;
	height: 350px;
	clear: none;
	margin-bottom: 20px;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.roomContainer .roomName {
	position: relative;
	margin: 34% 10% 0;
	z-index: 999;
	cursor: pointer;
}

.roomContainer .roomName h2 {
	padding-bottom: 20px;
	margin: 0 0 20px;
	font-size: 26px;
	line-height: 32px;
	color: #fff;
}

.roomContainer .minRate {
	width: auto;
	position: relative;
	z-index: 100;
	color: #fff;
	font-size: 12px;
}

.roomContainer .minRate h3 {
	margin: 0;
	font-size: 16px;
}

.roomContainer .roomPhoto {
	float: none;
	position: absolute;
	top: 0;
	left: 10px;
	right: 10px;
	bottom: 0;
}

/* addons tweak */
.roomContainer .roomPhoto > .roomPhoto {
    left: 0;
    right: 0;
}

.roomContainer .roomPhoto::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.3);
	display: block;
	z-index: 99;
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.roomContainer:hover .roomPhoto::before {
	background: rgba(0,0,0,0.6);
}

#roomtypes .roomPhoto a {
	pointer-events: none;
}

.slidesjs-navigation {
	pointer-events: auto !important;
}

.roomContainer .pgContainer
{
	width: 100%;
	height: 100%;
}

.roomContainer .pgImage a {
	display: block;
	width: 100%;
	height: 100%;
	
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.roomContainer .pgImage a.loaded {
	opacity: 1;
}

.roomContainer .pgImage label {
	display: none;
}

.contentHolder .roomContainer .pgImage a > img {
	display: none;
}

#main .roomContainer .roomPhoto .pgContainer .pgImage {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.roomContainer .roomDescription {
	width: 100%;
	clear: both;
	margin: 0 auto 0;
	overflow: hidden;
	display: none;
}

.roomContainer .roomDescription p {
	width: 60%;
	margin: 0 auto;
	text-align: center;
	line-height: 24px;
}

.roomContainer .roomRestrictions {
	float: none;
	text-align: center;
	width: 95%;
	margin: 20px auto 0px;
	display: none;
}

.roomContainer .mealplan {
	padding-bottom: 0;
	font-size: 14px;
	text-decoration: underline;
	margin-top: 30px;
	text-align: center;
	display: none;
}

.roomDescription.mealplan {
	text-decoration: none;
	text-transform: uppercase;
	font-style: italic;
}

.roomContainer .roomPhoto .pgContainer a label {
	position: absolute;
	bottom: 50%;
	margin-bottom: -50px;
	left: 50%;
	margin-left: -35px;
	width: 70px;
	line-height: 70px;
	height: 70px;
	text-decoration: none;
	color: #FFFFFF;
	background: url("//static.guestcentric.net/cdn/wsbdev/wsbdev_bin/seemore.png") no-repeat center;
	text-indent: -999999px;
	display: none;
}

.roomContainer .roomDescription ul {
	width: 60%;
	margin: 0 auto;
	clear: none;
	overflow: hidden;
	float: none;
}

.roomContainer .roomDescription li {
	display: inline-block;
	margin-left: 4%;
	text-align: center;
}

.roomContainer .promotions-termsActions {
	width: 100%;
	margin: 0;
	float: none;
	overflow: hidden;
	padding: 0 !important;
	position: relative;
	display: none;
}

.roomContainer.room-opened .promotions-termsActions {
	display: block;
}

.roomContainer .promotions-termsActions .promotions-showTermsTrigger {
	position: absolute;
	top: 42px;
	right: 50%;
	margin-right: -101px;
	font-size: 9px;
	text-transform: uppercase;
	line-height: 20px;
	text-align: center;
	width: 202px;
	text-decoration: none;
	color: #fff;
	background: #002D56;
}

.roomContainer .promotions-termsActions .promotions-showTermsTrigger:hover {
	text-decoration: underline;
}

.roomContainer .promotions-termsActions .promotions-bgLink {
	font-size: 12px;
	line-height: 40px;
	letter-spacing: 1.6px;
	width: 200px;
	text-align: center;
	margin: 0 auto 7%;
	text-decoration: none;
	display: block;
	float: none;
	text-transform: uppercase;
	border: 1px solid #002D56;
	font-style: italic;
}

.roomContainer .promotions-termsActions .promotions-bgLink:hover {
	background: #002D56;
	color: #fff;
}

.roomContainer .promotions-termsContent {
	background: #fff; 
	padding: 5.5% 2.5% 2.5%;
	position: absolute;
	bottom: 20px;
	left: 15%;
	right: 15%;
	font-size: 12px;
}

.roomContainer .promotions-termsContent .promotions-closeTermsShell {
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.roomContainer .promotions-termsContent .promotions-closeTerms:hover {
	text-decoration: underline;
}

.roomContainer .promotions-termsContent .promotions-closeTerms {
	padding: 0;
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;
	background: #002D56 url("//static.guestcentric.net/cdn/wsbdev/wsbdev_bin/close_terms.png") no-repeat 97%;
}

.roomContainer .promotions-termsContent .promotions-termsText {
	line-height: 22px;
	font-size: 14px;
	text-align: center;
}

/* room custom gallery */
.slick-slider > button {
	margin-top: -15px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	display: none !important;
	position: absolute;
	top: 50%;
	border: none;
	text-indent: -9999px;
	width: 20px;
	height: 30px;
	z-index: 50;
	cursor: pointer;
}

.room-opened .slick-slider > button {
	display: block !important;
}

.slick-next {
	background: url("//static.guestcentric.net/cdn/wsbdev/wsbdev_bin/rooms_nav.png") no-repeat 0 center;
	right: 20px;
}

.slick-prev {
	background: url("//static.guestcentric.net/cdn/wsbdev/wsbdev_bin/rooms_nav.png") no-repeat -20px center;
	left: 20px;
}

.slick-next:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.slick-prev:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

/* swipe gallery */
.roomPhoto a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	pointer-events: none;
	background-position: center center;
}

.roomPhoto label {
	display: none !important;
}

/* Slider */
.slick-slider {
	position: relative;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-list button {
	position: absolute;
	top: 50%;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}