/* rooms module #2 */

.roomContainer {
	position: relative;
	overflow: hidden;
	padding-top: 120px;
	padding-bottom: 120px;
	-webkit-transition-property: height;
	-moz-transition-property: height;
	-o-transition-property: height;
	-ms-transition-property: height;
	transition-property: height;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.roomContainer > * {
	position: relative;
	z-index: 1;
}

.roomContainer * {
	color: #ffffff;
}

.roomName h2 {
	padding: 0;
	text-transform: uppercase;
}

.roomDescription, .roomRestrictions, .pgContainer label {
	display: none;
}

div > .roomContainer .roomPhoto {
	clear: both;
	width: 100%;
	height: 100%;
	position: absolute !important;
	top: 0;
	left: 0;
	z-index: 0;
}

.roomPhoto .pgContainer {
	height: 100% !important;
}

.roomPhoto .pgImage {
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-position: center center;
}

div > .roomContainer .roomPhoto .pgContainer label {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -90px;
	background: #ffffff;
	text-align: center;
	z-index: 10;
	padding: 10px 25px;
	display: none;
}

.roomContainer .mealplan {
	width: 100%;
	padding: 0;
	margin: 0;
}

.roomDetails {
	cursor: pointer;
}

.roomDescription {
	padding-right: 50%;
	margin: 40px 0;
}

.roomDescription ul {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	margin: 0;
	padding: 0 35px;
}

.roomContainer .promotions-termsActions {
	margin-top: 30px;
}

.roomContainer .promotions-termsActions .promotions-showTermsTrigger {
	float: none;
	display: none;
}

.roomContainer .promotions-termsActions .promotions-bgLink {
	float: none;
	display: inline-block;
}

/* room-openeded room */
.roomContainer.room-opened {
	height: auto !important;
	padding-top: 640px;
}

.room-opened .minRate {
	margin-top: 40px;
}

.room-opened .roomDetails {
	display: none;
}

div > .roomContainer.room-opened .roomPhoto {
	height: 640px;
}

div > .roomContainer.room-opened .slick-slider .pgContainer label {
	display: none !important;
}

div > .roomContainer.room-opened .roomPhoto .pgContainer label,
.roomContainer.room-opened .promotions-termsActions .promotions-showTermsTrigger {
	display: block;
}

.room-opened .roomDescription, .room-opened .roomRestrictions, .room-opened .pgContainer label {
	display: block;
}

/* gallery slide */
.slick-slider > button {
	margin-top: -15px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	display: none !important;
	position: absolute;
	top: 50%;
	border: none;
	text-indent: -9999px;
	width: 20px;
	height: 30px;
	z-index: 50;
	padding: 0;
	cursor: pointer;
}

.room-opened .slick-slider > button {
	display: block !important;
}

.slick-next {
	background: url("//static.guestcentric.net/cdn/wsbdev/wsbdev_bin/rooms_nav.png") no-repeat 0 center;
	right: 20px;
}

.slick-prev {
	background: url("//static.guestcentric.net/cdn/wsbdev/wsbdev_bin/rooms_nav.png") no-repeat -20px center;
	left: 20px;
}

.slick-next:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.slick-prev:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.roomPhoto.slick-slider a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	pointer-events: none;
	background-position: center center;
}

.roomPhoto.slick-slider label {
	display: none;
}

.roomPhoto.slick-slider img {
	display: none;
}

.slick-slider {
	position: relative;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-list button {
	position: absolute;
	top: 50%;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}





/* responsive */
@media all and (min-width: 1300px) {
	.roomContainer.room-opened {
		padding-top: 720px;
	}
	div > .roomContainer.room-opened .roomPhoto {
	    height: 720px;
	}
}

@media all and (min-width: 1280px) {
	.roomContainer.room-opened {
		padding-top: 640px;
	}
	div > .roomContainer.room-opened .roomPhoto {
	    height: 640px;
	}
}

@media all and (max-width: 992px) {
	.roomContainer.room-opened {
		padding-top: 520px;
	}
	div > .roomContainer.room-opened .roomPhoto {
	    height: 520px;
	}
}

@media all and (max-width: 768px) {
	.roomContainer.room-opened {
		padding-top: 420px;
	}
	div > .roomContainer.room-opened .roomPhoto {
	    height: 420px;
	}
	.roomDescription {
		padding: 0;
	}
	.roomDescription ul {
		position: relative;
		width: 100%;
	}
}












