/**
 * @area Image Links
 */

.imagelinkgadget {
	width: 100%;
	position: relative;
	float: left;
	margin: 0 0 20px !important;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.imglinkWrapper {
	position: relative;
}

.imagelinkgadget a {
	text-decoration: none;
}

.imagelinkgadget a:hover {
	color: #002D56;
}

.imgImageWrapper {
	line-height: 0;
	position: relative;
	overflow: hidden;
}

.imgImageWrapper::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.3);
}

.imgImageWrapper img {
	width: 100%;
}

.imgContentWrapper {
	position: absolute;
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;
	color: #fff;
}

.imgContentWrapper::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	display: block;
	opacity: 0;
	filter:alpha(opacity=0);
}

.imgTitle {
	font-size: 26px;
	line-height: 32px;
	margin: 22% 5% 4%;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: lighter;
}

.imgTitle::after {
	content: "";
	width: 15px;
	height: 2px;
	background: #fff;
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -7px;
	display: block;
}

.imgDescription {
	overflow: hidden;
	max-height: 50px;
	margin: 0 10% 30px;
	line-height: 18px;
	font-size: 12px;
	letter-spacing: 1.5px;
	position: relative;
}

.imgLink span {
	letter-spacing: 2px;
	font-style: italic;
	border: 1px solid #fff;
	padding: 0 30px;
	line-height: 30px;
	display: inline-block;
	position: relative;
}

/* small-image */

.small-image {
	width: 50%;
}

.small-image .imgTitle {
	margin: 22% 5% 7%;
}

/* large-image */

.large-image .imgTitle {
	font-size: 40px;
	line-height: 50px;
	margin: 24% 5% 7%;
}

.large-image .imgContentWrapper {
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -240px;
	bottom: 20%;
	width: 480px;
}

/* video image links */

.imagelinkgadget.video .imgLink {
	background: url("../chateaueza_hotel_2_bin/play.png") no-repeat center;
	height: 50px;
	position: relative;
}

.imagelinkgadget.video .imgContentWrapper:hover .imgLink {
	background: url("../chateaueza_hotel_2_bin/play_black.png") no-repeat center;
}

.imagelinkgadget.video .imgLink span {
	display: none;
} 

/* large 2areas image link */

.large-image-2areas.imagelinkgadget {
	margin: 0 !important;
}

.large-image-2areas.imagelinkgadget:last-of-type {
	margin-bottom: 20px !important;
}

.large-image-2areas .imgImageWrapper, .large-image-2areas .imgContentWrapper {
	width: 50%
}

.large-image-2areas .imgImageWrapper::after {
	background: rgba(0,0,0,0.4);
}

.large-image-2areas .imgContentWrapper {
	position: absolute;
	bottom: 0;
	top: 0;
	color: #002D56;
}

.large-image-2areas:nth-of-type(odd) .imgImageWrapper {
	float: left
}

.large-image-2areas:nth-of-type(even) .imgImageWrapper {
	float: right;
}

.large-image-2areas:nth-of-type(even) .imgContentWrapper {
	left: 0;
	right: auto;
}

.large-image-2areas:nth-of-type(odd) .imgContentWrapper {
	right: 0;
	left: auto;
}

.large-image-2areas .imgTitle {
	margin: 22% 5% 6%;
}

.large-image-2areas .imgTitle span::before, .large-image-2areas .imgTitle span::after {
	background: url("../chateaueza_hotel_2_bin/double_line_black.png") repeat-x center
}

.large-image-2areas .imgTitle::after {
	background: #002D56;
}

.large-image-2areas .imgLink span {
	border: 1px solid #002D56;
}

.large-image-2areas:hover .imgImageWrapper::after {
	opacity: 0;
	filter:alpha(opacity=0);
}

.large-image-2areas:hover .imgLink span {
	background: #002D56;
	color: #fff;
}


/* imagelink sidebar */

.small-sidebar-image {
	padding: 0 !important;
}

.small-sidebar-image .imgTitle {
	margin: 22% 5% 14%;
}

.small-sidebar-image .imgDescription {
	margin: 0 25% 15px;
	line-height: 18px;
}

/* hover */

.imgContentWrapper:hover::before {
	opacity: 1;
	filter:alpha(opacity=100);
}

.imgContentWrapper:hover .imgTitle, .imgContentWrapper:hover .imgDescription, .imgContentWrapper:hover .imgLink {
	color: #002D56;
}

.imgContentWrapper:hover .imgTitle::after {
	background: #002D56;
}

.imgContentWrapper:hover .imgTitle span::before, .imgContentWrapper:hover .imgTitle span::after {
	background: url("../chateaueza_hotel_2_bin/double_line_black.png") repeat-x center
}

.imgContentWrapper:hover .imgLink span {
	border: 1px solid #002D56;
}

/* imagelink popup */
body.popupWindow {
	overflow: hidden;
}

.overlay {
	display: none;
}

.popupWindow .overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
	z-index: 9999;
	margin: 0 !important;
	display: block;
}

.imagelinkgadget.popup {
	z-index: 100000;
	width: 400px;
	height: 400px;
	position: absolute;
	left: 50%;
	margin: -200px 0 0 -200px !important;
	top: 50%;
	background: #fff;
}

.popup .imglinkWrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
}

.popup .imglinkWrapper a {
	width: 100%;
	height: 100%;
	display: block;
}

.popup .imgImageWrapper {
	height: 240px;
}

.popup .imgContentWrapper {
	top: 240px;
	left: 0;
	right: 0;
	bottom: 0;
	color: #000;
}

.popup .imgImageWrapper img {
	width: 100%;
	height: 100%;
}

.popup .imgTitle {
	margin: 15px 0;
}

.popup .imgDescription {
	margin: 0 0 10px;
}

.imagelinkgadget.popup:hover .imgImageWrapper::after {
	background: rgba(0,0,0,0.3);
}

.imagelinkgadget.popup .imglinkWrapper:hover .imgImageWrapper::after {
	background: rgba(86,153,188,0.8);
}

.popup .imgLink span {
	border-color: #000;
}


/** Image Links Transitions **/

.imgContentWrapper::before, .large-image-2areas .imgImageWrapper::after, .large-image-2areas .imgLink span
{
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.40s;
	-moz-transition-duration: 0.40s;
	-o-transition-duration: 0.40s;
	-ms-transition-duration: 0.40s;
	transition-duration: 0.40s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}